[submodule "external/libcsp"]
	path = external/libcsp
	url = git://github.com/GomSpace/libcsp
[submodule "external/poky"]
	path = external/poky
	url = git://git.yoctoproject.org/poky
[submodule "external/sage"]
	path = external/sage
	url = git://github.com/sagemath/sage.git
